<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Radom Photos</title>
</head>
<body>
    <div class="container">
        <h1>Photo Gallery</h1>
        <h2>Enter the Number of photos</h2>
        <input type="number" id="input" value="" min="0">
        <h3></h3>
        <button class="btn" id="btn">Get Photos</button>
        <div class="photos">
        </div>
    </div>
</body>
<script src="script.js"></script>
</html>