body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: bisque;
    font-family: sans-serif;
}

.container{
    background-color: aliceblue;
    padding: 40px;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}