<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movies Website!</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="topnav">
            <b class="active">MOVIES SITE</b>
            <div class="search">       <!-- this form tag gonna be our search bar so let it inside a div class and give a name--> 
                <form role="search" id="form">
                    <input class="search-box" type="search" id="query" name="q" placeholder="Search...">
                </form>
            </div>
        </div>
        <br>
        <div class="midnav mx-3"> 
            <section id="section">
        <!--    <div class="card mx-3" style="width: 18rem;">
                    <img class="img" src="https://de.web.img3.acsta.net/pictures/22/10/10/10/30/3495058.jpg" alt="Card image cap">
                    <div class="cardbody">
                        <h3 class="title">CARD TITLE</h3>
                        <p class="text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Watch</a>
                    </div>
                </div>  -->
            </section>
        </div>
        <div class="botnav">
            <h4>Question? Hotline: 0800-000-9677</h4>
        </div>
    </body>
    <script src="script.js"></script>
</html>